.container {
  max-width: 1104px;
  margin: auto;
  padding: 16px;
}

.search-wrapper {
  display: flex;
  max-width: 632px;
  height: 56px;
  margin-bottom: 16px;
  background: #5a5c66;
}

.search {
  flex-grow: 1;
  background: #5a5c66;
  color: #b2b7bf;
  font-size: 14px;
  border: 0;
  padding-left: 24px;
}

.search:focus-visible {
  outline: none;
}

.search-icon-wrapper {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e3e6ec;
}

.head {
  background: #474955;
  box-shadow: 0px 4px 24px 0px rgba(230, 231, 234, 0.78);
  height: 56px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
