.arrow {
  width: 18px;
}

.th {
  padding: 16px;
}

.button {
  display: inline-flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  background-color: transparent;
  border: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
